/*fonte a ser usada*/
@font-face {
    font-family: 'Pokemon Solid';
    src: url('./img/Pokemon Solid.ttf') format('truetype');
}

/*para todos elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pokemon Solid', sans-serif;
}

/*body*/
body {
    background-image: url('./img/pokemonwallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*elementos dentro da pokedex*/
#img-pokedex {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#image {
    position: absolute;
    top: 15%;
    left: 45%;
    width: 5%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-pokemon {
    width: 100%;
}

#form {
    width: auto;
    text-align: center;
}

#input {
    width: 45%;
    text-align: center;
}

#nome-pokemon {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

#info, #info2 {
    color: #decdcd;
    font-family: cursive;
}

/*botões*/
#botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#btn-next, #btn-back {
    padding: 10px 20px;
    background-color: #444;
    border: 2px solid #000;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: clamp(12px, 4vw, 1rem);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    cursor: pointer;
    transition: 0.2s ease;
}